{% extends 'base.html' %}

{% block title %}Registrar Producto{% endblock %}

{% block content %}
<h2>Registrar Nuevo Producto</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar</button>
</form>

<h3>Productos Registrados</h3>
<table>
    <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Imagen</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.categoria.nombre }}</td>
        <td>${{ producto.precio_unitario }}</td>
        <td>{{ producto.stock }}</td>
        <td>
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" width="80">
            {% else %}
                Sin imagen
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No hay productos registrados.</td></tr>
    {% endfor %}
</table>

<a class="volver" href="{% url 'panel_administrador' %}">⬅ Volver al Panel de Administrador</a>
<a class="volver" href="{% url 'logout' %}">Cerrar sesión</a>
{% endblock %}
