{% extends 'base.html' %}

{% block title %}Panel de Administrador{% endblock %}

{% block content %}
<div class="panel">
    <h2 style="text-align:center;">Bienvenido, Administrador</h2>

    <div class="opciones-panel">
        <a class="boton" href="{% url 'registrar_usuario' %}">👤 Registro de Usuarios</a>
        <a class="boton" href="{% url 'registrar_producto' %}">📦 Registro de Productos</a>
        <a class="boton" href="{% url 'ver_stock' %}">📊 Ver Stock</a>
        <a class="boton" href="{% url 'logout' %}">🚪 Cerrar Sesión</a>
    </div>
</div>
{% endblock %}
